- @hide_top_links = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, dashboard_projects_url(rss_url_options), title: "所有活动")

= render_dashboard_gold_trial(current_user)

- page_title    "项目"
- header_title  "项目", dashboard_projects_path

= render "projects/last_push"
- if show_projects?(@projects, params)
  = render 'dashboard/projects_head'
  = render 'nav' unless Feature.enabled?(:project_list_filter_bar)
  = render 'projects'
- else
  = render "zero_authorized_projects"
