- page_title @application.name, "应用"

%h3.page-title
  应用: #{@application.name}

.table-holder.oauth-application-show
  %table.table
    %tr
      %td
        = _('Application ID')
      %td
        .clipboard-group
          .input-group
            %input.label.label-monospace.monospace{ id: "application_id", type: "text", autocomplete: 'off', value: @application.uid, readonly: true }
            .input-group-append
              = clipboard_button(target: '#application_id', title: _("Copy ID to clipboard"), class: "btn btn btn-default")
    %tr
      %td
        = _('Secret')
      %td
        .clipboard-group
          .input-group
            %input.label.label-monospace.monospace{ id: "secret", type: "text", autocomplete: 'off', value: @application.secret, readonly: true }
            .input-group-append
              = clipboard_button(target: '#secret', title: _("Copy secret to clipboard"), class: "btn btn btn-default")
    %tr
      %td
        = _('Callback URL')
      %td
        - @application.redirect_uri.split.each do |uri|
          %div
            %span.monospace= uri
    %tr
      %td
        可信任
      %td
        = @application.trusted? ? '是' : '否'

    = render "shared/tokens/scopes_list", token: @application

.form-actions
  = link_to '编辑', edit_admin_application_path(@application), class: 'btn btn-primary wide float-left'
  = render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger prepend-left-10'
