合并请求 #{@merge_request.to_reference} 已被合并

合并请求链接: #{project_merge_request_url(@merge_request.target_project, @merge_request)}

= merge_path_description(@merge_request, 'to')

Author: #{sanitize_name(@merge_request.author_name)}
= assignees_label(@merge_request)
